.project-wrapper {
  background-color: var(--black);
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-top: 1px solid white;
}

.project-wrapper:first {
  border-top: 1px solid white;
}

.project-wrapper:not(:first-child) {
  border-top: 1px solid white;
}

.project-wrapper:last-child {
  border-bottom: 1px solid white;
}

.project-wrapper a {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info-project {
  display: flex;
  line-height: 2;
  gap: 5px;
}

.title-project {
  font-family: "Inter";
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  font-size: 3rem;
  line-height: 1;
}

.date-project {
  font-family: "Inter";
  display: flex;
  align-self: flex-end;
  letter-spacing: 0.5px;
  transform: scale(0.98);
}

.about-project {
  display: flex;
  align-self: flex-end;
  font-family: "Inter";
}

.project-wrapper:hover {
  background-color: var(--green);
  color: var(--black);
  transition: all 0.7s ease;
}
