.container {
  position: relative;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Inter";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.o-title {
  color: var(--green);
  text-transform: uppercase;
  font-family: "Inter Italic";
}

.title-location {
  font-family: "Inter";
  font-size: 2rem;
  user-select: none;
}

@media screen and (max-width: 1060px) {
  h1 {
    font-size: 3rem;
  }
  .title-location {
    font-size: 1.5rem;
  }
}
