/* .container {
  position: relative;
  height: calc(100vh - 80px);
} */
.hero-wrapper {
  height: 80vh;
}

h1 {
  font-family: "Roboto Serif";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 30%;
  left: 15%;
}

.o-title {
  color: var(--green);
  text-transform: uppercase;
  font-family: "Roboto Serif";
}
