.contact-container {
  position: relative;
  height: 100vh;
  padding: 60px 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 40px 0;
  z-index: 2;
}

.contact-container p {
  margin: 0;
  padding: 0;
  outline: none; /* Supprime le contour de focus */
  user-select: none; /* Empêche la sélection de texte */
}

.contact-title {
  font-size: 250px;
  font-family: "Inter";
  font-weight: 300;
}

.contact-studio {
  font-size: 250px;
  font-weight: 300;
  font-family: "Roboto Serif Italic";
  z-index: 10;
}

.under-button {
  z-index: 2;
}

.o-contact {
  color: var(--green);
}

@media screen and (max-width: 1060px) {
  .contact-title {
    font-size: 100px;
  }
  .contact-studio {
    font-size: 100px;
  }
  .contact-container {
    padding: 20px 10px;
    margin: 0;
  }
}
