.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 20px;
  background-color: var(--black);
  z-index: 10;
  border-bottom: 2px solid white;
}

img {
  object-fit: contain;
}
nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.li-nav-bar {
  font-family: "Inter Italic";
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  transition: color 0.7s ease;
}

.li-nav-bar:hover {
  color: var(--green);
}

/* Burger Menu */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 11;
  position: relative;
}

.burger-menu span {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.burger-menu.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 10;
  }

  nav.open {
    right: 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 20px 0;
    font-size: 1.5rem;
  }
  .header a img {
    max-width: 80%;
  }
}
