.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: var(--black);
  z-index: 10;
  border-bottom: 2px solid white;
}

img {
  object-fit: contain;
}
nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.li-nav-bar {
  font-family: "Inter Italic";
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  transition: color 0.7s ease;
}

.li-nav-bar:hover {
  color: var(--green);
}
