.works-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 100px;
}

.recent-works {
  font-family: "Inter";
  z-index: 2;
  align-self: center;
  display: flex;
  gap: 5px;
  text-transform: uppercase;
}

.span-works {
  font-family: "Inter Italic";
  text-transform: lowercase;
  color: var(--green);
}

.projects-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
