/* App.css */
.container {
  width: 100%; /* Prend 100% de la largeur de l'écran */
  padding: 0; /* Pas de marges */
  margin: 0; /* Pas de centrage */
  position: relative;
  height: 80vh;
}

header {
  width: 100%;
  background-color: #00ffcc; /* Exemple */
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
}

section {
  width: 100%;
  position: relative;
}
