@import "./var.css";

/* index.css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%; /* Prend toute la largeur de l'écran */
  font-size: 100%; /* Base pour rem = 16px */
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: #ffffff; /* Couleur par défaut */
}

#root {
  height: 100%; /* Assure que l’app React occupe tout l’écran */
  width: 100%;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
}
